.custom_header{
    
    padding: 12px;
    display: flex;
    justify-content: space-between;
}
img{
    max-width: 100%;
}
.item-bg-two {
    background-image: url(../images/mainbg.jpg);
}

.main-banner::before {
    opacity: 1;
}
.ctr-area::before{
    opacity: 1;
}
.shape img{
    width: 100%;
}
.app_btn{
    justify-content: flex-end;
}

.btn-primary {
    color: #fff;
    background-color: #1e69ff;
    border-color: #1e69ff;
}
.ctr-area .section-title p{
    color: black;
}

.carousel_itm:hover{
    cursor: grab;
    border: 1px solid #1e69ff;
    color:white
}
.carousel_itm:hover p{
    color: white;
}

.ctr-area .section-title p{
    color: white !important;
}

.build_with_content h1{
    font-size: 45px;
    margin: 50px 0;
}
.build_with_content p{
    font-size: 18px;
}